body {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('../images/congruent_outline.png');
}

a {
  color:inherit;
  text-decoration: none;
}

.form {
  margin: 0 auto;
  background-color: white;
  margin-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 97%;
  height: 1000px;
  line-height:500%;
}

.labels {
  float: left;
}

.boxes {
  width: 80%;
  float:left;
  margin-left: 50px;
}

#title, #backgroundUrl {
  width: 80%;
}

textarea {
  width: 80%;
  height: 200px;
}

.formTitle, .formUrl {
  height: 70px;
}

.formCheckbox {
  height: 70px;
}

.formExcerpt, .formBody {
  height: 220px;
}

.white {
  color: white;
}

.header {
  margin: 0 auto;
  background-image: url('../images/header.jpeg');
  width: 100%;
  height: 200px;
}

.headerText {
  text-align: right;
  padding-top: 70px;
  padding-right: 30px;
  font-size: 20px;
}

.articleExcerpt {
  width: 100%;
  background-color: white;
  margin-top: 30px;
}

.articleExcerptHeader {
  width: 97%;
  height: 75px;
  background-image: url('../images/swirl_pattern.png');
  padding-left: 20px;
  padding-right: 20px;
  font-size: 24px;
}

.articleExcerptBody {
  width: 98.5%;
  height: 100px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.articleBody {
  width: 100%;
  background-color: white;
  margin-top: 30px;
}

.articleBodyHeader {
  width: 97%;
  height: 75px;
  background-image: url('../images/swirl_pattern.png');
  padding-left: 20px;
  padding-right: 20px;
  font-size: 24px;
}

.edit {
  float: right;
}

.titleText {
  float:left;
}

.articleBodyBody {
  width: 98.5%;
  height: 400px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.delete {
  border: 1px solid black;
  width: 150px;
  height: 60px;
  text-align: center;
  padding: 5px;
  background-color: red;
}

.footer {
  padding: 30px;
  text-align: right;
  font-size: 25px;
}

#footer {
  color: white;
}
