extends ../layout

block content
  div.header
    div.headerText
      h1 The Zine
  for zine in allZines
    div.articleExcerpt
      div.articleExcerptHeader(style='background-image: url(#{zine.backgroundUrl})')
        if zine.darkBackground 
          div.white
            div.titleText
              a(href="/zines/articles/" + zine._id) #{zine.title}
        else
          div.titleText
            a(href="/zines/articles/" + zine._id) #{zine.title}
      div.articleExcerptBody
        p= zine.excerpt
  div.footer
    a(href="/zines/articles/new" id="footer") Add New Article
  
